<!DOCTYPE html>
<html>
  <head>
    <title>Sudoku</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/angular.min.css">
  </head>
  <body ng-csp ng-cloak ng-controller="MainController">
    <aside>
      <div class="btn-dropdown" id="select-difficulty">
        <div class="btn" tabindex="-1">
          <span class="difficulty-label">{{selectedDifficulty.name}}</span>
          <span class="caret"></span>
        </div>
        <ul class="dropdown-menu">
          <li ng-repeat="d in difficulties"><div class="btn" ng-mousedown="selectDifficulty(d)">{{d.name}}</div></li>
        </ul>
      </div>
      <div class="btn" id="new-game" ng-click="newGame()">New Game</div>
      <div class="btn" id="solve-game" ng-click="solve()">Solve</div>
    </aside>
    <div class="table">
      <div class="table-row" ng-repeat="(rowIndex, row) in game.board">
        <div class="table-cell" ng-repeat="(cellIndex, cell) in row track by cellIndex" ng-mouseover="onCellOver(rowIndex, cellIndex)" ng-mouseleave="onCellOver(null, null)" ng-class="{highlight: currentRow == rowIndex || currentColumn == cellIndex, error: cell.error }">
          <span class="hint" ng-if="cell.hint">{{cell.value}}</span>
          <input type="text" ng-if="!cell.hint" ng-model="cell.value" ng-change="inputChange(cell)" maxlength="1">
        </div>
      </div>
    </div>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/sudoku.js"></script>
    <script src="scripts/google-analytics-bundle.js"></script>
    <script src="scripts/analytics.js"></script>
    <script src="scripts/matrix.js"></script>
    <script src="scripts/game.js"></script>
    <script src="scripts/dropdown.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>