/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/sourcepro400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(../fonts/sourcepro900.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

aside {
  height: 597px;
  width: 250px;
  float: left;
  background-color: #eeeeee;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.table {
  height: 597px;
  width: 597px;
  float: left;
  box-sizing: content-box;
}

.table * {
  box-sizing: content-box;
}

.table-row {
  height: 65px;
  border: 0px solid #000;
}

.table-cell {
  height: 65px;
  width: 65px;
  float: left;
  box-shadow: 1px 1px #dedede;
  text-align: center;
  line-height: 65px;
  font-size: 16px;
}

.table-cell:first-child {
  border-left: 3px solid #000;
}

.table-cell:nth-child(3n) {
  border-right: 3px solid #000;
}

.table-row:first-child {
  border-top: 3px solid #000;
}

.table-row:nth-child(3n) .table-cell {
  border-bottom: 3px solid #000;
}

.table-cell:last-child {
  box-shadow: 0px 1px #dedede;
}

.table-row:last-child .table-cell {
  box-shadow: 1px 0px #dedede;
}

.table-row:last-child .table-cell:last-child {
  box-shadow: 0px 0px;
}

.table-cell input {
  height: 64px;
  width: 64px;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  margin: 1px 0 0 1px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.table-cell input:focus {
  background-color: #ffff00; /* yellow */
}

.table-row .table-cell.highlight:not(:hover),
.table-row .table-cell.highlight:not(:hover) input:not(:focus) {
  background-color: #eeeeee;
}

.table-cell:hover,
.table-cell:hover input:not(:focus) {
  background-color: #bdbdbd;
}

.table-row .table-cell.error,
.table-row .table-cell.error input {
  background-color: #c41411 !important;
  color: white !important;
}

.hint {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.btn {
  height: 40px;
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #eeeeee;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  overflow: hidden;
  position: relative;
  outline: 0;
}

.btn-dropdown {
  outline: 0;
}

#select-difficulty,
#new-game {
  float: left;
}

#select-difficulty .btn {
  width: 140px;
  text-align: left;
  background-color: #424242;
  color: #fff;
}

#select-difficulty .btn:hover {
  background-color: #616161;
}

#new-game {
  width: 90px;
  background-color: #3b50ce;
  color: #fff;
}

#new-game:hover {
  background-color: #455ede;
}

#solve-game {
  position: absolute;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background-color: #d84315;
  color: #fff;
}

#solve-game:hover {
  background-color: #e64a19;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  position: absolute;
  right: 8px;
  top: 18px;
}

.btn.open > .caret {
  border-top: 0;
  border-bottom: 4px solid;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 10px;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.btn.open ~ .dropdown-menu {
  display: block;
}

.btn .difficulty-label {
  display: inline;
}

.btn.open .difficulty-label {
  display: none;
}